<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<!-- Generiert durch Microsoft Visio, SVG Export icon.svg Page-1 -->
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events"
		xmlns:v="http://schemas.microsoft.com/visio/2003/SVGExtensions/" width="0.25in" height="0.25in"
		viewBox="0 0 407.004 416.1" xml:space="preserve" color-interpolation-filters="sRGB" class="st3">
	<v:documentProperties v:langID="1031" v:metric="true" v:viewMarkup="false">
		<v:userDefs>
			<v:ud v:nameU="msvNoAutoConnect" v:val="VT0(1):26"/>
		</v:userDefs>
	</v:documentProperties>

	<style type="text/css">
	<![CDATA[
		.st1 {fill:#7f7f7f;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2.5}
		.st2 {fill:#bfbfbf;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2.5}
		.st3 {fill:none;fill-rule:evenodd;font-size:12px;overflow:visible;stroke-linecap:square;stroke-miterlimit:3}
	]]>
	</style>

	<g v:mID="0" v:index="1" v:groupContext="foregroundPage">
		<title>Zeichenblatt-1</title>
		<v:pageProperties v:drawingScale="0.0393701" v:pageScale="0.0393701" v:drawingUnits="24" v:shadowOffsetX="8.50394"
				v:shadowOffsetY="-8.50394"/>
		<g id="shape2-1" v:mID="2" v:groupContext="shape" transform="translate(28.3465,-267.458)">
			<title>Tabelle.2</title>
			<rect x="0" y="329.228" width="260.195" height="86.8728" class="st1"/>
		</g>
		<g id="shape3-3" v:mID="3" v:groupContext="shape" transform="translate(309.801,-267.458)">
			<title>Tabelle.3</title>
			<rect x="0" y="329.228" width="77.9528" height="86.8728" class="st1"/>
		</g>
		<g id="shape5-5" v:mID="5" v:groupContext="shape" transform="translate(28.3465,-143.354)">
			<title>Tabelle.5</title>
			<rect x="0" y="329.228" width="260.195" height="86.8728" class="st2"/>
		</g>
		<g id="shape6-7" v:mID="6" v:groupContext="shape" transform="translate(309.801,-143.354)">
			<title>Tabelle.6</title>
			<rect x="0" y="329.228" width="77.9528" height="86.8728" class="st2"/>
		</g>
		<g id="shape8-9" v:mID="8" v:groupContext="shape" transform="translate(28.3465,-19.25)">
			<title>Tabelle.8</title>
			<rect x="0" y="329.228" width="260.195" height="86.8728" class="st2"/>
		</g>
		<g id="shape9-11" v:mID="9" v:groupContext="shape" transform="translate(309.801,-19.25)">
			<title>Tabelle.9</title>
			<rect x="0" y="329.228" width="77.9528" height="86.8728" class="st2"/>
		</g>
	</g>
</svg>
